{% extends "base.html" %}
{% load static %} 

{% block title %}
    Blog Posts
{% endblock %}

{% block content %}
<div>
    {% for post in posts %}
        <div>
            <div>
                {% if post.preview_image %}
                    <img src="{{ post.preview_image.url }}" alt="{{ post.title }}">
                {% else %}
                    <img src="{% static 'assets/img/post-preview-default.png' %}" alt="Default preview image">
                {% endif %}
            </div>

            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>

            <div>{{ post.excerpt }}</div>

            <div>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}