{% load static %}
{% load menu_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  </head>
  <body>
    <div class="website">
      <header class='header-fixed'>
        <div class='container'>
          <div class='header g'>
            <div class='container'>
              <div class="g-header">
                <a href="{% url 'home:home' %}" class="logo-link">Django</a>
                <div class="nav">
                  <nav class="main-menu">
                    
                    {% render_menu "main-menu" %}

                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="content">
        {% block content %}{% endblock %}
      </div>

      <footer class='footer g'>
        <div class='container'>
          <div class="g-footer">
            <div class="copyright">
              <span class="footer-copyright">&copy; 2025 Django</span>
            </div>
          </div>
        </div>
      </footer>    
    </div>

    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>